<table class="table table-bordered">
<tr>
  <ng-container *ngIf="employee">
    <table class="table table-bordered">
      <tr>
        <td>
          <h5>Employee Access Rights</h5>
          <div>Employee: <b>{{employee.name}}</b></div>
          <div>Security Clearance Level: {{employee.securityClearance}}</div>
          <div>Title: {{employee.title}} <span style="padding-left:2em;">BadgeID: {{employee.badgeID}}</span></div>
        </td>
        <td>
          <h5 style="visibility:hidden">&nbsp</h5>
          <div>Main Gate Times</div>
          <div>Earliest Entry: {{employee.earliestEntry}}</div>
          <div>Latest Departure: {{employee.latestDeparture}}</div>
        </td>
      </tr>
    </table>
  </ng-container>
</tr>

<tr *ngFor="let building of buildings;">
  <h5>Building {{building}}</h5>
  <div class="table-responsive-lg">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr style="background-color:lightyellow">
          <th scope="col">#</th>
          <th scope="col">Floor</th>
          <th scope="col">Room</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Director</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
        </tr>
      </thead>
    
      <tbody>
        <ng-container *ngFor="let rights of access_rights; index as i;">
          <tr *ngIf="rights.buildingID == building;">
            <td>{{i+1}}</td>
            <td>{{rights.floor}}</td>
            <td>{{rights.roomID}}</td>
            <td>{{rights.startTime}}</td>
            <td>{{rights.endTime}}</td>
            <td>{{rights.director_name}}</td>
            <td>{{rights.startDate}}</td>
            <td>{{rights.endDate}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <br>
  </div>
</tr>
</table>



<!-- example: https://angular.io/api/common/NgIf-->
<!-- <button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>
show = {{show}}
<br>
<div *ngIf="show; else elseBlock">Text to show</div>
<ng-template #elseBlock>Alternate text while primary text is hidden</ng-template> -->