<table *ngIf="employee_info" class="table table-bordered">
  <tr>
    <td class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td colspan="3">
              <h5 style="text-align:center; font-weight: bold;">
                {{employee_data.employee_info.name}}
              </h5>
            </td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: center;">
              Internal ID: {{employee_data.employee_info.employeeID}}
            </td>
            <!-- <td style="width: auto;"></td> -->
            <td style="text-align: center;">
              TaxpayerID: {{employee_data.employee_info.taxpayer_id}}
            </td>
          </tr>
          <tr>
            <td>
              Date Hired: {{employee_data.employee_info.date_hired}}
            </td>
          </tr>
          <tr>
            <td>
              Department: {{employee_data.employee_info.department}}
            </td>
            <td></td>
            <td>
              Address: {{employee_data.employee_info.address}}
              {{employee_data.employee_info.city}}
              {{employee_data.employee_info.state}}
              {{employee_data.employee_info.zip}}
            </td>
          </tr>
          <tr>
            <td>
              Supervisor: {{employee_data.employee_info.supervisor}}
            </td>
            <td></td>
            <td>
              Home Phone: {{employee_data.employee_info.phone}}
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    </td>
  </tr>
  <tr>
    <td class="table-responsive-lg">
      <h5>Education</h5>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr style="background-color:lightyellow">
            <th scope="col">School</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Degree</th>
            <th scope="col">GPA</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let degree of employee_data.employee_education;">
            <tr>
              <td>{{degree.school_name}}</td>
              <td>{{degree.startDate}}</td>
              <td>{{degree.endDate}}</td>
              <td>{{degree.degree_name}}</td>
              <td>{{degree.GPA}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <br>
    </td>
  </tr>
  <tr>
    <td class="table-responsive-lg">
      <h5>Drug Tests</h5>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr style="background-color:lightyellow">
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Lab Used</th>
            <th scope="col">Test Used</th>
            <th scope="col">Lab Test ID</th>
            <th scope="col">Results</th>
            <th scope="col">Comments</th>
          </tr>
        </thead>
  
        <tbody>
          <ng-container *ngFor="let drug_test of drug_test_results; index as i;">
            <tr>
              <td>{{i + 1}}</td>
              <td>{{drug_test.date}}</td>
              <td>{{drug_test.lab_used}}</td>
              <td>{{drug_test.test_used}}</td>
              <td>{{drug_test.labTestID}}</td>
              <td>{{drug_test.results}}</td>
              <td>{{drug_test.comments}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <br>
    </td>
  </tr>
</table>